&PS3D
 field_file              = 'rt_48x48x48.nc'       ! input field file

 viscosity%nnu = 3
 viscosity%prediss = 30

 !
 ! output info
 !
 output%field_freq         = 1.0     ! write after these many time units to the NetCDF file
 output%field_stats_freq   = 0.01    ! write after these many time units to the field stats NetCDF file
 output%write_fields       = .true.    ! enable / disable field dump
 output%write_field_stats  = .true.    ! enable / disable field statistics
 output%overwrite          = .true.    ! replace existing NetCDF files
 output%basename           = 'ps3d_rt_48' ! NetCDF base name

 !
 ! stepper info
 !
 time%limit              = 10.0     ! time limit (s)
 time%alpha              = 0.1      ! scaling factor for the strain and buoyancy gradient time step
 time%precise_stop       = .false.  ! time limit exact
/
